<div class="container-fluid education-section">
  <h2>EDUCACION</h2>
  <ul class="education-list">
    <li *ngFor="let education of eduList" class="education-item">
      <div class="row align-items-center gx-3">
        <div class="col-md-2 col-sm-3 col-4 text-center">
          <img [src]="education.logo" class="education-logo img-fluid" alt="" />
        </div>
        <div class="col-md-10 col-sm-9 col-8">
          <h5 class="education-school">{{ education.school }}</h5>
          <h6 class="education-degree">{{ education.degree }}</h6>
          <!-- Puedes añadir más información aquí, como fechas o una breve descripción del curso -->
          <!-- <p class="education-dates">{{education.startDate}} - {{education.endDate}}</p> -->
          <!-- <p class="education-description">{{education.description}}</p> -->
        </div>
      </div>
    </li>
  </ul>
</div>
