<!-- header-bar -->
 <section>
    <app-header-bar></app-header-bar>
 </section>


<!-- about section -->
<section id="about" class="about-section">
    <app-about></app-about>
</section>

<!-- experience section -->
<section id="experience" class="experience-section">
    <app-jobs></app-jobs>
</section> <!-- Assuming 'jobs' is your experience component -->

<!-- education section -->
<section id="education" class="education-section">
    <app-education></app-education>
</section>

<!-- skills section -->
<section id="skills" class="skills-section">
    <app-skills></app-skills>
</section>

<!-- projects section -->
<section id="projects" class="projects-section">
    <app-works></app-works>
</section>

<!-- contact section -->
<section id="contact" class="contact-section">
    <app-contact></app-contact>
</section>

<!-- Potencial footer -->
<section class="footer-section">
    <app-footer></app-footer>
</section>