<div class="row">
  <div class="col-8" style="background-color:#20348c">
    <img src="assets/img/header-portfolio.png" style="background-color:#20348c ;" alt="">
  </div>
  <div class="menu col-4">
    <ul>
      <li>
        <a href="https://www.facebook.com/Fernando-Alegre-Freelance-Developer-101807302228165" target="_blank">
          <em class="fab fa-3x fa-facebook-square"></em>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/elvio-fernando-alegre-94164a27?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQ6MRmGnPR%2FiiZNuyy%2FuhfQ%3D%3D"
          target="_blank">
          <em class="fab fa-3x fa-linkedin"></em>
        </a>
      </li>
      <li>
        <a href="https://github.com/fealegre" target="_blank">
          <em class="fab fa-3x fa-github-square"></em>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <em class="fa fa-3x fa-solid fa-sign-in-alt"></em>
        </a>
      </li>
    </ul>
  </div>
</div>



<div id="tmWelcome" class="parallax-window" data-parallax="scroll"
  data-image-src="assets/img/mini-profile-bg-01.jpg">

  <div class="container-fluid tm-brand-container-outer">
    <div class="row">
      <div class="col-12">
        <!-- Logo Area -->
        <!-- Black transparent bg -->
        <div class="ml-auto mr-0 tm-bg-black-transparent text-white">
          <div class="tm-brand-container text-center">
            <h1>{{miPortfolio.name}}</h1>
            <p class="tm-brand-description mb-0">{{miPortfolio.position}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tm-bg-white-transparent tm-welcome-container">
    <div class="container-fluid">
      <div class="row h-100">
        <!-- Welcome Text -->
        <!-- White transparent bg -->
        <div class="col-md-7 tm-welcome-left-col">
          <div class="tm-welcome-left">
            <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;" class="tm-welcome-title">
              {{miPortfolio.welcome_msg}}</h1>
            <p style="text-align: justify;" class="pb-0">
              Este portfolio se crea en el marco de los cursos del
              <a rel="nofollow" href="https://empleo.chaco.gob.ar/cenit#/" target="_blank"> Informatorio Chaco</a>,
              un programa del Gobierno del Chaco en conjunto con las empresas del Polo IT Chaco, Globant,
              UTN y UNCAUS, para incorporar más y mejores oportunidades de incluirse en la Economía del Conocimiento,
              especíﬁcamente en el sector del Software a través de la formación en programación.
            </p>
          </div>
        </div>
        <!-- Brown bg -->
        <div class="col-md-5">
          <div class="tm-welcome-right">

            <img src="../../../assets/img/20200410_121858-1(2).jpg" class="img-fluid" alt="Mi Foto">

            <p style="text-align: justify;; " class="mb-0"><em>
                Fernando es mi nombre, me apasiona la programación, la practico desde niño.
                Siempre capacitándome y actualizando conocimientos. Proyecto aprovechar las oportunidades
                que se presenten en este ámbito, para un desarrollo profesional y personal, que me permitan
                mantener la motivación por esta hermosa afición, y entregar lo mejor de mi para hacerla
                productiva y rentable.</em>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Welcome section -->