<section id="about" class="about-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-1 order-2">
        <div class="about-text pr-md-4">
          <h2>Sobre Mí</h2>
          <p class="lead">{{ miPortfolio.welcome_msg }}</p>
          <p>
            Fernando es mi nombre, me apasiona la programación, la practico
            desde niño. Siempre capacitándome y actualizando conocimientos.
            Proyecto aprovechar las oportunidades que se presenten en este
            ámbito, para un desarrollo profesional y personal, que me permitan
            mantener la motivación por esta hermosa afición, y entregar lo mejor
            de mi para hacerla productiva y rentable.            
          </p>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center text-md-left mb-4 mb-md-0">
        <div class="about-image">
          <img src="../../../assets/img/foto-perfil.jpg" class="img-fluid rounded-circle shadow-lg"
            alt="Mi Foto" />
        </div>
      </div>
    </div>
  </div>
</section>