<div class="container-fluid">
  <div class="text-end">
    <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
  </div>
</div>

<!-- <div class="wrapper">
    <div class="row">
      <div class="col-auto" style="background-color:#20348c">
        <img src="assets/img/header-portfolio.png" style="background-color:#20348c ;" alt="">
      </div> -->
<!-- <div class="menu col-4">
        <ul>
          <li>
            <a href="https://www.facebook.com/Fernando-Alegre-Freelance-Developer-101807302228165" target="_blank">
              <em class="fab fa-3x fa-facebook-square"></em>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/elvio-fernando-alegre-94164a27?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQ6MRmGnPR%2FiiZNuyy%2FuhfQ%3D%3D"
              target="_blank">
              <em class="fab fa-3x fa-linkedin"></em>
            </a>
          </li>
          <li>
            <a href="https://github.com/fealegre" target="_blank">
              <em class="fab fa-3x fa-github-square"></em>
            </a>
          </li>
          <li>
            <a href="/login" target="">
              <em class="fa fa-3x fa-solid fa-sign-in-alt"></em>
            </a>
          </li>
        </ul>
      </div> -->
<!-- </div> -->