<div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="assets/img/tu-imagen-de-fondo.jpg">
    <div class="container-fluid">
      <p *ngIf="loading" class="text-muted text-center text-white">Cargando...</p>
      <div class="row">
        <div class="col-12">
          <div class="tm-contact-items-container">
            <div *ngIf="persona?.githubUrl" class="tm-brand-name">
              <a [href]="persona?.githubUrl" target="_blank">
                <em class="fab fa-4x fa-github-square tm-contact-item-icon"></em>
              </a>
            </div>
            <div *ngIf="persona?.linkedinUrl" class="tm-brand-name">
              <a [href]="persona?.linkedinUrl" target="_blank">
                <em class="fab fa-4x fa-linkedin tm-contact-item-icon"></em>
              </a>
            </div>
            <div *ngIf="persona?.email" class="tm-brand-name">
              <a [href]="'mailto:' + persona?.email">
                <em class="far fa-4x fa-envelope tm-contact-item-icon"></em>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
