
<section id="tmPortfolio">
  <div class="container-fluid">
    <h1>PROYECTOS</h1>
    <ul class="fa-ul">
      <li *ngFor="let works of worksList">
        <div class="row">
          <div class="col-12">
            <div class="tm-portfolio-item">
              <a [href]="works.repo_url" target="_blank">
                <div [class]="works.course_style">
                  {{works.course}}
                </div>
              </a>
              <div class="tm-portfolio-description">
                <h3 style="text-align: center;" [class]="works.proj_name_style">
                  {{works.project_name}}<br />
                  <span [class]="works.proj_comment_style">{{works.project_comment}}</span>
                </h3>
                <p [class]="works.proj_details_style" style="text-align: justify;">
                  {{works.project_details}}
                </p>
              </div>
            </div>            
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End portfolio section -->