.bar {
    background-color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #121;
    font-weight: 600;
  }
  
  .bar::before {
    content: attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;
    -o-animation: load 3s 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .bar.html5::before {
    background-color: #007bff;
    width: calc(20% - 10px);
  }
  
  .bar.css3::before {
    background-color: #007bff;
    width: calc(40% - 10px);
  }
  
  .bar.javascript::before {
    background-color: #007bff;
    width: calc(60% - 10px);
  }
  
  .bar.python::before {
    background-color: #007bff;
    width: calc(80% - 10px);
  }
  
  .bar.php::before {
    background-color: #007bff;
    width: calc(90% - 10px);
  }
  
  .bar.typescript::before {
    background-color: #007bff;
    width: calc(100% - 10px);
  }
  
  .credit {
    text-align: center;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .credit a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }