html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
    overflow-x: hidden;
}
a, button { transition: all 0.3s ease; }
a:hover { text-decoration: none; }
p { line-height: 1.8; }
.container-fluid { max-width: 1200px; }
.tm-bg-black-transparent { background-color: rgba(0, 0, 0, 0.5); }
.tm-bg-white-transparent { background-color: rgba(255, 255, 255, 0.8); }
.tm-bg-green { background-color: #98cb00; }
.tm-bg-orange { background-color: #fb8b53; }
.tm-bg-blue { background-color: #3398cc; }
.tm-bg-dark-gray { background-color: #676767; }
